<!-- =======================
Hero banner START -->
<section class="position-relative py-lg-8" style="background-image: url(assets/images/bg/07.jpg);background-repeat: no-repeat; background-size: cover;">
	<!-- Overlay -->
	<div class="bg-overlay opacity-7"></div>
	<div class="container my-md-5 py-5">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center z-index-9">
				<!-- Title -->
				<h1 class="text-white mb-3">We're here to transform things.</h1>
				<!-- Content -->
				<p class="text-white fs-6 mb-0">We want you to give your best shot at University Applications. Nothing less.</p>        
			</div>
		</div><!-- Row END -->    
	</div>
</section>
<!-- =======================
Hero banner END -->

<!-- =======================
Service START -->
<section>
	<div class="container">
		<div class="row mb-4">
			<div class="col-lg-6">
				<!-- Title -->
				<h2 class="mb-3">How did we start?</h2>
				<!-- Content -->
				<!-- <p class="mb-0">Path2overseas came into being in 2022 when our founder Dr. Prasad Raju came back to India after finishing his Master’s in the USA and realized the lack of high-quality services in Coaching and University Consultancy. He was a reputed professor and career guide to a lot of engineering students by then, and so he decided to use his skills to train Masters aspirants to get into top universities. Thus Path2overseas Academy was established, where every year hundreds of students are guided to top-notch Masters’ programs in diverse fields of study. Many of our alumni are currently in leadership positions at MNCs across various industries. </p> -->
			</div>
		</div><!-- Row END -->

		<div class="row g-4">     
			
      <div class="col-md-6 col-lg-3">
				<!-- Card START -->
				<div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">       
					<!-- Icon Bg -->
					<div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-circle fs-5 mb-3">
						<i class="bi bi-lightbulb"></i>
					</div>
					<!-- Title -->
					<h6 class="card-title mb-3">Empathy</h6>
					<!-- Content -->
					<p class="card-text">We care about the careers of our students as if it’s our own.</p>
					<!-- Button -->
					<a  class="btn btn-link p-0 mb-0 text-start">Discover more</a>         
				</div>
				<!-- Card END -->
			</div>

			<div class="col-md-6 col-lg-3">
				<!-- Card START -->
				<div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">         
					<!-- Icon Bg -->
					<div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-circle fs-5 mb-3">
						<i class="bi bi-cast"></i>
					</div>
					<!-- Title -->
					<h6 class="mb-3">Quality</h6>
					<!-- Content -->
					<p>Our trainers & counselors strive to deliver the most effective training & guidance.</p>
					<!-- Button -->
					<a  class="btn btn-link p-0 mb-0 text-start">Discover more</a>          
				</div>
				<!-- Card END -->
			</div>

			<div class="col-md-6 col-lg-3">
				<!-- Card START -->
				<div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">      
					<!-- Icon Bg -->
					<div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-circle fs-5 mb-3">
						<i class="bi bi-rulers"></i>
					</div>
					<!-- Title -->
					<h6 class="mb-3">Integrity</h6>
					<!-- Content -->
					<p>Our motto is to provide fair and unbiased service to each and every student</p>
					<!-- Button -->
					<a  class="btn btn-link p-0 mb-0 text-start">Discover more</a>         
				</div>
				<!-- Card END -->
			</div>

			<div class="col-md-6 col-lg-3">
				<!-- Card START -->
				<div class="card card-body shadow rounded-4 rounded-bottom-right-0 p-4">          
					<!-- Icon Bg -->
					<div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-circle fs-5 mb-3">
						<i class="bi bi-hexagon-half"></i>
					</div>
					<!-- Title -->
					<h6 class="mb-3">Community </h6>
					<!-- Content -->
					<p>We aim to foster a community in which members help each other in their career progression</p>
					<!-- Button -->
					<a  class="btn btn-link p-0 mb-0 text-start">Discover more</a>        
				</div>
				<!-- Card END -->
			</div>

		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Service END -->

<!-- =======================
About START -->
<section class="bg-light py-5">
	<div class="container">

		<div class="row align-items-center">

			<div class="col-lg-6">
				<div class="row g-4">
					<div class="col-sm-5 offset-sm-1 align-self-end position-relative">
						<!-- Image -->
						<img src="assets/images/about/09.jpg" class="rounded-4 rounded-bottom-right-0" alt="">
						<div class="position-absolute top-50 start-50 translate-middle z-index-9">
							<!-- Video button -->
							<div class="position-relative ms-0 ms-sm-4">
								<a class="btn btn-white btn-white-shadow btn-round btn-lg mb-0 me-2" data-glightbox
									data-gallery="office-tour" href="https://www.youtube.com/embed/tXHviS-4ygo"><i class="fas fa-play"></i>
								</a>
							</div>
						</div>            
					</div>

					<div class="col-sm-6 position-relative">
						<!-- Image -->
						<img src="assets/images/about/10.jpg" class="rounded-4 rounded-bottom-right-0" alt="">          
					</div>
					<div class="col-sm-5">
						<!-- Image -->
						<img src="assets/images/about/11.jpg" class="rounded-4 rounded-bottom-right-0" alt="">
					</div>
					<div class="col-sm-7">
						<!-- Image -->
						<img src="assets/images/about/12.jpg" class="rounded-4 rounded-bottom-right-0" alt="">
					</div>
				</div>
			</div>

			<div class="col-lg-6 ps-lg-5 mt-3 mt-lg-0">
				<!-- Title -->
				<h3 class="mb-3">Service designed to simplify your University Application process.</h3>
				<!-- Content -->
				<!-- <p class="mb-0">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced. Yet uncommonly his ten who diminution astonished. Demesne new manners savings staying had.</p> -->
				
        <div class="row mt-2 mb-4 g-4">
					
          <div class="col-sm-6">
						<!-- Card START -->
						<div class="card card-body p-0 bg-transparent">
							<!-- Icon -->
							<i class="bi bi-people-fill fs-4 text-primary"></i>
							<h6>Mission</h6>
							<p class="mb-0">To enable aspirants to get into specialized and in-demand master’s courses, which significantly impact their careers. </p>
						</div>
						<!-- Card END -->
					</div>
				
					<div class="col-sm-6">
						<!-- Card START -->
						<div class="card card-body p-0 bg-transparent">
							<!-- Icon -->
							<i class="bi bi-tools fs-4 text-primary"></i>
							<h6>Our Vission</h6>
							<p class="mb-0">Make our expertise reachable to all genuine aspirants who are passionate about pursuing higher education at Universities across the world. </p>
						</div>
						<!-- Card START -->
					</div>        
				</div><!-- Row END -->
				<!-- Button -->        
				<a  class="btn btn-warning mb-0" routerLink="/contact">Schedule a call</a>
			</div>     
		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
About END -->
