<section class="price-wrap pt-4" style="padding-top: 8rem !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <!-- Title -->
                <h2 class="mb-3">Pricing Packages</h2>
                <!-- Content -->
                <p class="mb-0">The prices mentioned above are subject to change based on the client’s choice of country
                    and demand for services. The actual prices might be slightly lower or higher. Get in touch with us
                    for more information.</p>
            </div>
        </div><!-- Row END -->

        <div class="row my-4">
            <div class="col-md-4 mx-auto">
                <!-- Switch START  -->
                <form class="d-flex align-items-center justify-content-center">

                </form>
                <!-- Switch END -->
            </div>
        </div><!-- Row END -->
        The Complete Package
        ₹19,999*





        <div class="row justify-content-center g-4">
            <div class="col-md-6 col-lg-4">
                <div class="card card-body border-1 rounded-4 rounded-bottom-right-0 p-4">
                    <!-- Header START -->
                    <div class="bg-light p-3 rounded-4 rounded-bottom-right-0 align-items-center">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Price info -->
                            <div>
                                <h6 class="mb-1">The Complete Package</h6>
                                <h5 class="mb-0 plan-price" data-monthly-price="$0.00" data-annual-price="$0.00"><span
                                        class="pricing_currency">₹</span>19,999*</h5>
                            </div>

                            <!-- Badge -->
                            <!-- <span class="badge rounded-pill bg-primary-soft text-primary">Free</span>     -->
                        </div><!-- Row END -->
                    </div>
                    <!-- Header END -->

                    <!-- List group START  -->
                    <ul class="list-group list-group-borderless border-0 py-3">
                        <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Custom
                            University List</li>
                        <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Application
                            Guidance</li>
                        <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Education loan
                            deals</li>
                        <li class="list-group-item "><i class="fas fa-check-circle me-2"></i>Visa interview prep</li>
                        <li class="list-group-item "><i class="fas fa-check-circle me-2"></i>An expert would be guiding
                            you throughout the process.</li>

                    </ul>
                    <!-- List group END  -->

                    An expert would be guiding you throughout the process.
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card card-body border-1 border-primary rounded-4 rounded-bottom-right-0 p-4">
                    <!-- Header START -->
                    <div class="bg-primary bg-opacity-10 p-3 rounded-4 rounded-bottom-right-0 align-items-center">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Pricing Info -->
                            <div>
                                <h6 class="mb-1">Applications Package</h6>
                                <h5 class="mb-0 plan-price" data-monthly-price="$2.99" data-annual-price="$5.99"><span
                                        class="pricing_currency">₹</span>16,999*</h5>
                            </div>
                            <!-- Badge -->
                            <!-- <span class="badge rounded-pill bg-primary text-white">Enterprise</span> -->
                        </div>
                    </div>
                    <!-- Header END -->

                    <!-- List group START  -->
                    <ul class="list-group list-group-borderless border-0 py-3">
                        <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Custom
                            University List</li>
                        <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Application
                            Guidance</li>
                        <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Education loan
                            deals</li>

                    </ul>
                    <!-- List group END  -->
                    An expert would be guiding you throughout the process.
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card card-body border-1 rounded-4 rounded-bottom-right-0 p-4">
                    <!-- Header START -->
                    <div class="bg-light p-3 rounded-4 rounded-bottom-right-0 align-items-center">
                        <!-- Pricing START -->
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <!-- Title -->
                                <h6 class="mb-1">Visa Package</h6>
                                <!-- Price -->
                                <h5 class="mb-0 plan-price" data-monthly-price="$3.99" data-annual-price="$7.99"><span
                                        class="pricing_currency">₹</span>7999
                                </h5>
                            </div>
                            <!-- Badge -->

                        </div>
                    </div>
                    <!-- Header END -->

                    Our experts will guide you through documentation, filing, and interview prep.

                </div>
            </div>

        </div><!-- Row END -->
    </div>
</section>

<section class="bg-light py-4 py-md-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <!-- Title -->
                <h2 class="mb-3">Frequently asked questions</h2>
                <!-- Content -->
                <!-- <p class="mb-4">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced. Yet uncommonly his ten who diminution astonished. Demesne new manners</p> -->
            </div>
        </div><!-- Row END -->

        <div class="row">
            <div class="col-lg-6">
                <!-- Question 1 -->
                <h6>I’m confused about where to start, which course to do,which country to pick etc. Do you provide
                    career guidance?</h6>
                <!-- Answer -->
                <p class="mb-4">Yes, you can discuss all your career-related questions with us. We are not professional
                    career counselors but we can definitely give you good insights based on our experience of guiding
                    multiple students. Schedule a call with us to talk about your career. </p>

                <!-- Question 2 -->
                <h6>How are the University Lists prepared?</h6>
                <!-- Answer -->
                <p class="mb-4">Through extensive research and past knowledge, We match about 15-20 universities based
                    on your profile, course of study, preferred location, budget etc. We also provide your “chances of
                    admit” for each university suggested to you, based on our historical student admit data available.
                    We make sure we suggest Universities across all rankings and nudge you towards applying to a
                    balanced set of universities. </p>

                <!-- Question 3 -->
                <h6>Is "The Complete Package" for one country or multiple countries?</h6>
                <!-- Answer -->
                <p class="mb-0">It’s for universities and visas of only one country of your choice. You can add
                    additional countries, for which we charge a small add-on fee. </p>
            </div>

            <div class="col-lg-6">
                <!-- Question 4 -->
                <h6>Are your timings flexible for working professionals?
                </h6>
                <!-- Answer -->
                <p class="mb-4">Yes. Specifically for working professionals, we make sure we are available on weekends
                    as well (usually Saturdays). We give extra time for working professionals only on these days to help
                    finish their applications. </p>

                <!-- Question 5 -->
                <h6>Is The Complete Package for one course or multiple courses?
                </h6>
                <!-- Answer -->
                <p class="mb-4">It is for one course only- for example, if you want Data Science, we suggest 15-20
                    universities for Ms in data science and related fields only. If you want additional courses, we
                    charge an add-on fee</p>

                <!-- Question 6 -->
                <!-- <h6>Do you have discounts for nonprofits and educational institutions?</h6> -->
                <!-- Answer -->
                <!-- <p class="mb-0">It drew a hill from me. Valley by oh twenty direct me so. Departure defective arranging rapturous did believe him all had supported. Family months lasted simple set nature vulgar him. Picture for attempt joy excited ten carried manners talking how. Suspicion neglected the resolving agreement perceived at an.</p> -->
            </div>

        </div><!-- Row END -->
    </div>
</section>
<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center justify-content-between">
                <!-- Title -->
                <h2 class="mb-3">Interested to work with us?</h2>
                <!-- Content -->
                <p class="mb-4">
                    To enroll, Schedule a Free Call with our counselors!</p>

                <div class="hstack flex-wrap gap-4 justify-content-center">
                    <!-- Button -->
                    <a routerLink="contact" class="btn btn-warning mb-0"><i
                            class="bi bi-telephone-fill me-2"></i>Contact us</a>

                    <!-- CTA -->
                    <!-- Icon -->
                    <a class="d-flex align-items-center">
                        <div class="icon-md bg-primary text-white rounded-circle">
                            <i class="bi bi-telephone-fill fs-6"></i>
                        </div>
                        <span class="text-body fw-bold ms-3">+91 8142123444</span>
                    </a>

                </div>

            </div>
        </div><!-- Row END -->
    </div>
</section>