<!-- =======================
Hero banner START -->
<section class="position-relative py-lg-8"
    style="background-image: url(assets/images/bg/07.jpg);background-repeat: no-repeat; background-size: cover;">
    <!-- Overlay -->
    <div class="bg-overlay opacity-7"></div>
    <div class="container my-md-5 py-5">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center z-index-9">
                <!-- Title -->
                <h1 class="text-white mb-3">Online and Offline Courses for IELTS/ TOEFL/ PTE/ DUOLINGO
                </h1>
                <!-- Content -->
                <p class="text-white fs-6 mb-0">Our Certified Trainers will help you reach your target scores!</p>
            </div>
        </div><!-- Row END -->
    </div>
</section>
<!-- =======================
Hero banner END -->

<section class="bg-light py-4 py-md-5" style="padding-top: 8rem !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <!-- Title -->
                <h2 class="mb-3">Highlights</h2>
                <!-- Content -->
                <!-- <p class="mb-4">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced. Yet uncommonly his ten who diminution astonished. Demesne new manners</p> -->
            </div>
        </div><!-- Row END -->

        <div class="row">
            <div class="col-lg-6">
                <!-- Question 1 -->
                <h6>Interactive sessions</h6>
                <!-- Answer -->
                <p class="mb-4">The most effective way to polish your English communication skills is to actively engage
                    with faculty and peers. Thus our faculty makes the classes interactive and lively.</p>

                <!-- Question 2 -->
                <h6>Weekly Review Tests</h6>
                <!-- Answer -->
                <p class="mb-4">We cover one module every week and at the end of each, we conduct a live test to give
                    students an overview of their strengths and weaknesses.</p>

                <!-- Question 3 -->
                <h6>Material and Mock tests</h6>
                <!-- Answer -->
                <p class="mb-0">Material and mock tests are curated by industry veterans, who understand the
                    requirements of students from different academic backgrounds.</p>
            </div>

            <div class="col-lg-6">
                <!-- Question 4 -->
                <h6>One year Unlimited Access
                </h6>
                <!-- Answer -->
                <p class="mb-4">Students can re-attend the classes multiple times throughout one year from the date of
                    joining. Unlimited access can be further extended with minimal charges.</p>

                <!-- Question 5 -->
                <h6>Timings that suit you
                </h6>
                <!-- Answer -->
                <p class="mb-4">Our live classes are conducted during the mornings and evenings based on your free time.
                    Working professionals can choose to attend special weekend batches as well.</p>

                <!-- Question 6 -->
                <h6>University Application Guidance</h6>
                <!-- Answer -->
                <p class="mb-0">Our in-house Master’s students and experts will be just a phone call away to answer your
                    questions regarding university applications, deadlines, application process etc.</p>
            </div>

        </div><!-- Row END -->
    </div>
</section>
<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <div class="shadow p-4 rounded-3 mb-4" style="    background-color: #FEF3C7;">
                    <!-- Title -->
                    <h6>IELTS</h6>

                    <div class="vstack gap-3">
                        <p class="mb-4">
                            Classes by British Council Certified Trainers for IELTS Academic and General.

                            Get top band scores to study or work at your dream destinations! </p>

                        <ul>
                            <li><span style="font-weight: 400;">4 Weeks Course Duration</span></li>
                            <li><span style="font-weight: 400;">Speaking, Listening, Reading, and Writing modules</span>
                            </li>
                            <li><span style="font-weight: 400;">Live Classes in Mornings and Evenings</span></li>
                            <li><span style="font-weight: 400;">All materials Inclusive</span></li>
                            <li><span style="font-weight: 400;">Unlimited access to live classes for 1 year. </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shadow p-4 rounded-3 mb-4" style="    background-color: #E5EDFF;">
                    <!-- Title -->
                    <h6>TOEFL</h6>

                    <div class="vstack gap-3">
                        <p class="mb-4">
                            Our Live and Interactive TOEFL classes will boost your scores to clear the University
                            cut-offs! </p>

                        <ul>
                            <li><span style="font-weight: 400;">4 Weeks Course Duration</span></li>
                            <li><span style="font-weight: 400;">Speaking, Listening, Reading, and Writing modules</span>
                            </li>
                            <li><span style="font-weight: 400;">Live Classes in Mornings and Evenings</span></li>
                            <li><span style="font-weight: 400;">All materials Inclusive</span></li>
                            <li><span style="font-weight: 400;">Unlimited access to live classes for 1 year. </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shadow p-4 rounded-3 mb-4" style="    background-color: #D5F5F6;">
                    <!-- Title -->
                    <h6>PTE</h6>

                    <div class="vstack gap-3">
                        <p class="mb-4">
                            Score high on PTE with the help of our Pearson Certified Trainers!   </p>

                            <ul><li><span style="font-weight: 400;">4 Weeks Course Duration</span></li><li><span style="font-weight: 400;">Speaking, Listening, Reading, and Writing modules</span></li><li><span style="font-weight: 400;">Live Classes in Mornings and Evenings</span></li><li><span style="font-weight: 400;">All materials Inclusive</span></li><li><span style="font-weight: 400;">Unlimited access to live classes for 1 year. </span></li></ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="shadow p-4 rounded-3 mb-4" style="    background-color: #FEECDC;">
                    <!-- Title -->
                    <h6>DuoLingo (New)</h6>

                    <div class="vstack gap-3">
                        <p class="mb-4">
                            Ace the all new Duo Lingo test with expert English Language trainers!

Be part of our Small Batch sizes and personalize training. </p>

<ul><li><span style="font-weight: 400;">4 weeks Duration- 3 Classes/Week</span></li><li><span style="font-weight: 400;">Live classes</span></li><li><span style="font-weight: 400;">Inclusive of Materials</span></li><li><span style="font-weight: 400;">Unlimited Access to live classes. </span></li></ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Row END -->

</section>

<section class="pt-0">
    <div class="container">
        <div class="row g-4">

            <!-- FAQ START -->
            <div class="col-lg-8 mx-auto">
                <!-- Title -->
                <h5 class="mb-3">Frequently Asked Questions</h5>
                <!-- Accordion START -->
                <div class="accordion accordion-icon" id="accordionExample1">
                    <!-- Item 1 START -->
                    <div class="accordion-item mb-3">
                        <h6 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button rounded-2 collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Who is this course for?
                            </button>
                        </h6>
                        <!-- Body -->
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionExample1" style="">
                            <div class="accordion-body">This course is for you if you want the following things-

                                A Well Structured and planned-out curriculum, with minimal planning from your side.
                                The best material available out there curated by top GRE scoreres.
                                Simple tricks and techniques to solve complex English problems.
                                Revise and revisit Mathematics basics</div>
                        </div>
                    </div>
                    <!-- Item 1 END -->

                    <!-- Item 2 START -->
                    <div class="accordion-item mb-3">
                        <h6 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed rounded-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                How many Mock tests do you give?
                            </button>
                        </h6>
                        <!-- Body -->
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionExample1">
                            <div class="accordion-body">We give 10 Mock tests, which from our experience is sufficient
                                to prepare you for the rigors of the test. </div>
                        </div>
                    </div>
                    <!-- Item 2 END -->

                    <!-- Item 3 START -->
                    <div class="accordion-item mb-3">
                        <h6 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed rounded-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Do you provide any guidance apart from Test prep?
                            </button>
                        </h6>
                        <!-- Body -->
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionExample1">
                            <div class="accordion-body">We have counselors, University application experts, and master’s
                                graduates available to answer any queries you may have- be it regarding test slot
                                booking or University applications or career choices etc. </div>
                        </div>
                    </div>
                    <!-- Item 3 END -->

                    <!-- Item 4 START -->
                    <div class="accordion-item mb-3">
                        <h6 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed rounded-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                                Any bulk enrollment discounts?
                            </button>
                        </h6>
                        <!-- Body -->
                        <div id="flush-collapseFour" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFour" data-bs-parent="#accordionExample1">
                            <div class="accordion-body">If you represent a college or an institution that requires bulk
                                enrollments for students, do get in touch with us. </div>
                        </div>
                    </div>
                    <!-- Item 4 END -->

                    <!-- Item 5 START -->
                    <div class="accordion-item">
                        <h6 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed rounded-2" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                                What if I miss classes? How can I re-attend them?
                            </button>
                        </h6>
                        <!-- Body -->
                        <div id="flush-collapseFive" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingFive" data-bs-parent="#accordionExample1">
                            <div class="accordion-body">Because we have multiple batches running parallely, you can
                                choose to attend classes of different batches to cover the topics you have missed. You
                                also have the option of re-attending classes unlimited times in a period of one year
                                from enrollment. </div>
                        </div>
                    </div>
                    <!-- Item 5 END -->
                </div>
                <!-- Accordion END -->
            </div>
            <!-- FAQ END -->
        </div><!-- Row END -->
    </div>
</section>
<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center justify-content-between">
                <!-- Title -->
                <h2 class="mb-3">Interested to work with us?</h2>
                <!-- Content -->
                <p class="mb-4">
                    To enroll, Schedule a Free Call with our counselors!</p>

                <div class="hstack flex-wrap gap-4 justify-content-center">
                    <!-- Button -->
                    <a routerLink="contact" class="btn btn-warning mb-0"><i
                            class="bi bi-telephone-fill me-2"></i>Contact us</a>

                    <!-- CTA -->
                    <!-- Icon -->
                    <a class="d-flex align-items-center">
                        <div class="icon-md bg-primary text-white rounded-circle">
                            <i class="bi bi-telephone-fill fs-6"></i>
                        </div>
                        <span class="text-body fw-bold ms-3">+91 8142123444</span>
                    </a>

                </div>

            </div>
        </div><!-- Row END -->
    </div>
</section>