<section class="bg-light py-4 py-md-5" style="padding-top: 8rem !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <!-- Title -->
                <h2 class="mb-3">Highlights</h2>
                <!-- Content -->
                <!-- <p class="mb-4">Speedily say has suitable disposal add boy. On forth doubt miles of child. Exercise joy man children rejoiced. Yet uncommonly his ten who diminution astonished. Demesne new manners</p> -->
            </div>
        </div><!-- Row END -->

        <div class="row">
            <div class="col-lg-6">
                <!-- Question 1 -->
                <h6>Well Structured Classes</h6>
                <!-- Answer -->
                <p class="mb-4">The complete course is broken down into individual modules and incremental difficulty levels. Verbal- 16 Classes. Math- 22 Classes . AWA- 4 Classes </p>

                <!-- Question 2 -->
                <h6>All-inclusive Material</h6>
                <!-- Answer -->
                <p class="mb-4">Our Material is developed by GRE Veterans and top scorers. You need not buy any other expensive books or online question banks.</p>

                <!-- Question 3 -->
                <h6>Vocabulary Made Easy</h6>
                <!-- Answer -->
                <p class="mb-0">High-frequency Vocabulary is taught using memory tricks and GIFs that help retain words for a long duration. </p>
            </div>

            <div class="col-lg-6">
                <!-- Question 4 -->
                <h6>Online and Offline Classes
                </h6>
                <!-- Answer -->
                <p class="mb-4">You can attend classes by being part of our interactive classroom or from the comfort of your house. </p>

                <!-- Question 5 -->
                <h6>One year Validity
                </h6>
                <!-- Answer -->
                <p class="mb-4">Once enrolled, students can choose to repeat the classes multiple times within one year from the date of enrollment.</p>

                <!-- Question 6 -->
                <h6>Interactive Sessions with Experts</h6>
                <!-- Answer -->
                <p class="mb-0">Get all your doubts clarified in our post-class interactive sessions (online and Offline) directly by the expert faculty members.</p>
            </div>

        </div><!-- Row END -->
    </div>
</section>

<section class="price-wrap pt-4" style="padding-top: 8rem !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto text-center">
                <!-- Title -->
                <h2 class="mb-3">Pricing Packages</h2>
                <!-- Content -->
                <p class="mb-0">The prices mentioned above are subject to change based on the client’s choice of country
                    and demand for services. The actual prices might be slightly lower or higher. Get in touch with us
                    for more information.</p>
            </div>
        </div><!-- Row END -->

        <div class="row my-4">
            <div class="col-md-4 mx-auto">
                <!-- Switch START  -->
                <form class="d-flex align-items-center justify-content-center">

                </form>
                <!-- Switch END -->
            </div>
        </div><!-- Row END -->
     





        <div class="row justify-content-center g-4">
            <div class="col-md-6 col-lg-4">
                <div class="card card-body border-1 rounded-4 rounded-bottom-right-0 p-4">
                    <!-- Header START -->
                    <div class="bg-light p-3 rounded-4 rounded-bottom-right-0 align-items-center">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Price info -->
                            <div>
                                <h6 class="mb-1">GRE Package</h6>
                                <h5 class="mb-0 plan-price" data-monthly-price="$0.00" data-annual-price="$0.00"><span
                                        class="pricing_currency">₹</span>17,500</h5>
                            </div>

                            <!-- Badge -->
                            <!-- <span class="badge rounded-pill bg-primary-soft text-primary">Free</span>     -->
                        </div><!-- Row END -->
                    </div>
                    <!-- Header END -->
                   
                   
               
                    
                    
                    
                    <!-- List group START  -->
                    <ul class="list-group list-group-borderless border-0 py-3">
                        <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i> 16 Verbal Session Books</li>
                        <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i> 2 Vocabulary Books</li>
                        <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>AWA Sample Essays</li>
                        <li class="list-group-item "><i class="fas fa-check-circle me-2"></i>     Complete Quantitative Material</li>
                        <li class="list-group-item "><i class="fas fa-check-circle me-2"></i>10 Online Mock Tests
                            </li>
                            <li class="list-group-item "><i class="fas fa-check-circle me-2"></i>Vocabulary App
                            </li>

                    </ul>
                    <!-- List group END  -->

                    An expert would be guiding you throughout the process.
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="card card-body border-1 border-primary rounded-4 rounded-bottom-right-0 p-4">
                    <!-- Header START -->
                    <div class="bg-primary bg-opacity-10 p-3 rounded-4 rounded-bottom-right-0 align-items-center">
                        <div class="d-flex align-items-center justify-content-between">
                            <!-- Pricing Info -->
                            <div>
                                <h6 class="mb-1">Combo  Package</h6>
                                <h5 class="mb-0 plan-price" data-monthly-price="$2.99" data-annual-price="$5.99"><span
                                        class="pricing_currency">₹</span>21,999 *</h5>
                            </div>
                            <!-- Badge -->
                            <!-- <span class="badge rounded-pill bg-primary text-white">Enterprise</span> -->
                        </div>
                    </div>
                    <!-- Header END -->

                    <!-- List group START  -->
                    <ul class="list-group list-group-borderless border-0 py-3">
                        <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Now get
                            GRE +
                            IELTS or TOEFL or PTE
                            at  a discounted price
                            (Original price ₹25000)</li>
                        <!-- <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Application
                            Guidance</li>
                        <li class="list-group-item"><i class="fas fa-check-circle text-primary me-2"></i>Education loan
                            deals</li> -->

                    </ul>
                    <!-- List group END  -->
                    An expert would be guiding you throughout the process.
                </div>
            </div>

        </div><!-- Row END -->
    </div>
</section>
<section class="pt-0">
	<div class="container">
		<div class="row g-4">		

			<!-- FAQ START -->
			<div class="col-lg-8 mx-auto">
				<!-- Title -->
				<h5 class="mb-3">Frequently Asked Questions</h5>
				<!-- Accordion START -->
				<div class="accordion accordion-icon" id="accordionExample1">
					<!-- Item 1 START -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header" id="flush-headingOne">
							<button class="accordion-button rounded-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
								Who is this course for?
							</button>
						</h6>
						<!-- Body -->
						<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionExample1" style="">
							<div class="accordion-body">This course is for you if you want the following things-

                                A Well Structured and planned-out curriculum, with minimal planning from your side. 
                                The best material available out there curated by top GRE scoreres. 
                                Simple tricks and techniques to solve complex English problems. 
                                Revise and revisit Mathematics basics</div>
						</div>
					</div>
					<!-- Item 1 END -->
			
					<!-- Item 2 START -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header" id="flush-headingTwo">
							<button class="accordion-button collapsed rounded-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
								How many Mock tests do you give?
							</button>
						</h6>
						<!-- Body -->
						<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionExample1">
							<div class="accordion-body">We give 10 Mock tests, which from our experience is sufficient to prepare you for the rigors of the test.  </div>
						</div>
					</div>
					<!-- Item 2 END -->
			
					<!-- Item 3 START -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header" id="flush-headingThree">
							<button class="accordion-button collapsed rounded-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
								Do you provide any guidance apart from Test prep?
							</button>
						</h6>
						<!-- Body -->
						<div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionExample1">
							<div class="accordion-body">We have counselors, University application experts, and master’s graduates available to answer any queries you may have- be it regarding test slot booking or University applications or career choices etc. </div>
						</div>
					</div>
					<!-- Item 3 END -->
			
					<!-- Item 4 START -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header" id="flush-headingFour">
							<button class="accordion-button collapsed rounded-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
								Any bulk enrollment discounts?
							</button>
						</h6>
						<!-- Body -->
						<div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionExample1">
							<div class="accordion-body">If you represent a college or an institution that requires bulk enrollments for students, do get in touch with us. </div>
						</div>
					</div>
					<!-- Item 4 END -->
			
					<!-- Item 5 START -->
					<div class="accordion-item">
						<h6 class="accordion-header" id="flush-headingFive">
							<button class="accordion-button collapsed rounded-2" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                What if I miss classes? How can I re-attend them?
							</button>
						</h6>
						<!-- Body -->
						<div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionExample1">
							<div class="accordion-body">Because we have multiple batches running parallely, you can choose to attend classes of different batches to cover the topics you have missed. You also have the option of re-attending classes unlimited times in a period of one year from enrollment. </div>
						</div>
					</div>
					<!-- Item 5 END -->
				</div>
				<!-- Accordion END -->
			</div>
			<!-- FAQ END -->
		</div><!-- Row END -->
	</div>
</section>
<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center justify-content-between">
                <!-- Title -->
                <h2 class="mb-3">Interested to work with us?</h2>
                <!-- Content -->
                <p class="mb-4">
                    To enroll, Schedule a Free Call with our counselors!</p>

                <div class="hstack flex-wrap gap-4 justify-content-center">
                    <!-- Button -->
                    <a routerLink="contact" class="btn btn-warning mb-0"><i
                            class="bi bi-telephone-fill me-2"></i>Contact us</a>

                    <!-- CTA -->
                    <!-- Icon -->
                    <a class="d-flex align-items-center">
                        <div class="icon-md bg-primary text-white rounded-circle">
                            <i class="bi bi-telephone-fill fs-6"></i>
                        </div>
                        <span class="text-body fw-bold ms-3">+91 8142123444</span>
                    </a>

                </div>

            </div>
        </div><!-- Row END -->
    </div>
</section>