<!-- =======================
Hero banner START -->
<section class="pt-5">
	<div class="container">    
		<div class="row">

			<div class="col-lg-4 mx-auto text-center">
				<!-- Title -->
				<h1 class="mb-3">Blog</h1>

				<!-- Breadcrumb -->
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb justify-content-center mb-0 py-0">
						<li class="breadcrumb-item"><a routerLink="home" class="text-dark text-primary-hover">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Blog</li>
					</ol>
				</nav>

			</div>
		</div><!-- Row END -->
	</div>  
</section>
<!-- =======================
Hero banner START -->

<!-- =======================
Blog START -->
<section class="pt-0">
	<div class="container">
		<div class="row g-4">

			<div class="col-sm-6 col-xl-4">
				<!-- Card START -->
				<div class="card shadow card-hover-overlay rounded-4 rounded-bottom-right-0 overflow-hidden">
					<div class="position-relative overflow-hidden">
						<!-- Card Image -->              
						<img src="assets/images/blog/01.jpg" class="card-image-scale" alt="card image">              
						<!-- Card Overlay -->
						<div class="card-element-hover">            
							<!-- Overlay Content -->
							<div class="mt-auto d-flex align-items-center">
								<div class="avatar">                 
									<!-- Image -->
									<!-- <img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">   -->
								</div>                
								<!-- <div class="ms-2">
									<p class="mb-0 text-white">Louis Ferguson</p>
									<p class="mb-0 text-white">03 march, 2022</p>
								</div> -->
							</div>
						</div>
					</div>    
					
					<div class="card-body p-4">
						<div class="justify-content-between d-flex mb-3">
							<!-- Badge -->
							<span class="badge rounded-pill bg-info text-white">Education</span>
                            <span class="badge rounded-pill bg-success text-white">Learning</span>
							<!-- Content -->
							<span>8 min read</span>
						</div>
						<!-- Title -->
						<h5><a  class="stretched-link">MS Data Science and Best Universities in USA</a></h5>
						<!-- Content -->
						<!-- <p>He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to. Place voice no arises along to.</p> -->
						<!-- Button -->
						<a  class="btn btn-link text-primary p-0 mb-0">Read more</a>
					</div>
				</div>
				<!-- Card END -->
			</div>

			<div class="col-sm-6 col-xl-4">
				<!-- Card START -->
				<div class="card shadow card-hover-overlay rounded-4 rounded-bottom-right-0 overflow-hidden">
					<div class="position-relative overflow-hidden">
						<!-- Card Image -->              
						<img src="assets/images/blog/02.jpg" class="card-image-scale" alt="card image">              
						<!-- Card Overlay -->
					
					</div>    
					
					<div class="card-body p-4">
						<div class="justify-content-between d-flex mb-3">
							<!-- Badge -->
							<span class="badge rounded-pill bg-success text-white">Education</span>
							<!-- Content -->
							<span>8 min read</span>
						</div>
						<!-- Title -->
						<h5><a  class="stretched-link">Letters of Recommendation and What you should know </a></h5>
						<!-- Content -->
						<!-- <p>He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to. Place voice no arises along to.</p> -->
						<!-- Button -->
						<a  class="btn btn-link text-primary p-0 mb-0">Read more</a>
					</div>
				</div>
				<!-- Card END -->
			</div>

			<div class="col-sm-6 col-xl-4">
				<!-- Card START -->
				<div class="card shadow card-hover-overlay rounded-4 rounded-bottom-right-0 overflow-hidden">
					<div class="position-relative overflow-hidden">
						<!-- Card Image -->              
						<img src="assets/images/blog/03.jpg" class="card-image-scale" alt="card image">              
						<!-- Card Overlay -->
					
					</div>    
					
					<div class="card-body p-4">
						<div class="justify-content-between d-flex mb-3">
							<!-- Badge -->
							<span class="badge rounded-pill bg-danger text-white">Education</span>
							<!-- Content -->
							<span>8 min read</span>
						</div>
						<!-- Title -->
						<h5><a href="blog-detail.html" class="stretched-link">MS in Chemical Engineering</a></h5>
						<!-- Content -->
						<!-- <p>He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to. Place voice no arises along to.</p> -->
						<!-- Button -->
						<a  class="btn btn-link text-primary p-0 mb-0">Read more</a>
					</div>
				</div>
				<!-- Card END -->
			</div>

			<div class="col-sm-6 col-xl-4">
				<!-- Card START -->
				<div class="card shadow card-hover-overlay rounded-4 rounded-bottom-right-0 overflow-hidden">
					<div class="position-relative overflow-hidden">
						<!-- Card Image -->              
						<img src="assets/images/blog/04.jpg" class="card-image-scale" alt="card image">              
						<!-- Card Overlay -->
					
					</div>    
					
					<div class="card-body p-4">
						<div class="justify-content-between d-flex mb-3">
							<!-- Badge -->
							<span class="badge rounded-pill bg-info text-white">Education</span>
							<!-- Content -->
							<span>8 min read</span>
						</div>
						<!-- Title -->
						<h5><a  class="stretched-link">Mechanical Engineering Specializations</a></h5>
						<!-- Content -->
						<!-- <p>He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to. Place voice no arises along to.</p> -->
						<!-- Button -->
						<a  class="btn btn-link text-primary p-0 mb-0">Read more</a>
					</div>
				</div>
				<!-- Card END -->
			</div>

			<div class="col-sm-6 col-xl-4">
				<!-- Card START -->
				<div class="card shadow card-hover-overlay rounded-4 rounded-bottom-right-0 overflow-hidden">
					<div class="position-relative overflow-hidden">
						<!-- Card Image -->              
						<img src="assets/images/blog/05.jpg" class="card-image-scale" alt="card image">              
					
					</div>    
					
					<div class="card-body p-4">
						<div class="justify-content-between d-flex mb-3">
							<!-- Badge -->
							<span class="badge rounded-pill bg-success text-white">Education</span>
							<!-- Content -->
							<span>8 min read</span>
						</div>
						<!-- Title -->
						<h5><a  class="stretched-link">Management Degree for Engineers</a></h5>
						<!-- Content -->
						<!-- <p>He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to. Place voice no arises along to.</p> -->
						<!-- Button -->
						<a  class="btn btn-link text-primary p-0 mb-0">Read more</a>
					</div>
				</div>
				<!-- Card END -->
			</div>

			<div class="col-sm-6 col-xl-4">
				<!-- Card START -->
				<div class="card shadow card-hover-overlay rounded-4 rounded-bottom-right-0 overflow-hidden">
					<div class="position-relative overflow-hidden">
						<!-- Card Image -->              
						<img src="assets/images/blog/06.jpg" class="card-image-scale" alt="card image">              
					
					</div>    
					
					<div class="card-body p-4">
						<div class="justify-content-between d-flex mb-3">
							<!-- Badge -->
							<span class="badge rounded-pill bg-danger text-white">Education</span>
							<!-- Content -->
							<span>8 min read</span>
						</div>
						<!-- Title -->
						<h5><a  class="stretched-link">MS in Business Analytics a great course for all students</a></h5>
						<!-- Content -->
						<!-- <p>He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty gay assistance joy. Unaffected at ye of compliment alteration to. Place voice no arises along to.</p> -->
						<!-- Button -->
						<a  class="btn btn-link text-primary p-0 mb-0">Read more</a>
					</div>
				</div>
				<!-- Card END -->
			</div>

			<!-- Pagination START -->
			<nav aria-label="navigation">
				<ul class="mt-5 pagination pagination-rounded pagination-line d-flex justify-content-center mb-0">

					<li class="page-item disabled">
						<a class="page-link">Prev</a>
					</li>

					<li class="page-item">
						<a class="page-link active" >1</a>
					</li>

					<li class="page-item " aria-current="page">
						<a class="page-link" >2</a>
					</li>

					<li class="page-item" aria-current="page">
						<a class="page-link" >....</a>
					</li>

				
					<li class="page-item" aria-current="page">
						<a class="page-link" >Next</a>
					</li>  
				</ul>
			</nav>
			<!-- Pagination END -->
		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Blog END -->