<!-- =======================
Footer START  -->
<footer class="bg-dark pt-5">
    <div class="container">

        <div class="row g-4">
            <!-- Widget 1 START -->
            <div class="col-12 col-lg-3">
                <!-- Logo -->
                <a routerLink="home"> <img src="assets/images/path2.png" class="footer-brand-item mb-3" alt="logo"></a>
                <!-- Info -->
                <p class="text-primary-hover"><a  class="text-white"><i class="bi bi-geo-alt me-2"></i>
                        F.No 401, 5thFlor, Friends Residency, H. No. 37 93/371/1/2A,RdNo.4A,Madhura Nagar, Neredmet
                        Hyderabad, Telangana 500056 India</a>
                </p>
                <p class="text-primary-hover mb-0"><a  class="text-white"><i
                            class="bi bi-telephone-plus me-2"></i>+91 8142123444</a></p>
            </div>
            <!-- Widget 1 END -->

            <!-- Widget 2 START -->
            <div class="col-6 col-md-3 col-lg-2">
                <h6 class="mb-4 text-white">Company</h6>
                <ul class="nav flex-column text-primary-hover">
                    <li class="nav-item"><a class="nav-link pt-0" >About</a></li>
                    <li class="nav-item"><a class="nav-link" >Blog</a></li>

                </ul>
            </div>
            <!-- Widget 2 END -->

            <!-- Widget 3 START -->
            <div class="col-6 col-md-3 col-lg-2">
                <h6 class="mb-4 text-white">Services</h6>
                <ul class="nav flex-column text-primary-hover">
                    <li class="nav-item"><a class="nav-link pt-0" >GRE</a></li>

                    <li class="nav-item"><a class="nav-link" >IELTS/PTE/TOEFL/DUOLINGO</a></li>
                    <li class="nav-item"><a class="nav-link pt-0" >Application Guidance</a></li>
                    <li class="nav-item"><a class="nav-link pt-0" >USA Visa Services</a></li>
                    <li class="nav-item"><a class="nav-link pt-0" >F1 Visa Services</a></li>
                    <li class="nav-item"><a class="nav-link pt-0" >B2 Visa Services</a></li>
                    <li class="nav-item"><a class="nav-link pt-0" >
                            H1B Visa Services</a></li>

                </ul>
            </div>
            <!-- Widget 3 END -->

            <!-- Widget 4 START -->
            <div class="col-6 col-md-3 col-lg-2">
                <h6 class="mb-4 text-white">Documentation</h6>
                <ul class="nav flex-column text-primary-hover">
                    <li class="nav-item"><a class="nav-link pt-0" > Abroad Consultancy</a></li>
                    <li class="nav-item"><a class="nav-link pt-0" > Study in USA</a></li>
                    <li class="nav-item"><a class="nav-link pt-0" > Study in Canada</a></li>
                    <li class="nav-item"><a class="nav-link pt-0" > Study in UK</a></li>
                    <li class="nav-item"><a class="nav-link pt-0" > Study in Australia</a></li>
                    <li class="nav-item"><a class="nav-link pt-0" > Study in Europe</a></li>
                    <li class="nav-item"><a class="nav-link pt-0" > Study in Singapore</a></li>
                    <li class="nav-item"><a class="nav-link pt-0" > Study in New Zealand</a></li>



                </ul>
            </div>
            <!-- Widget 4 END -->

            <div class="col-6 col-md-3 col-lg-3">
                <h6 class="mb-4 text-white">Follow us</h6>
                <!-- Social media -->
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a  class="btn btn-white btn-round mb-2"><i class="fab fa-fw fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a  class="btn btn-white btn-round mb-2"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a  class="btn btn-white btn-round mb-2"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a  class="btn btn-white btn-round mb-2"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Row END -->

        <!-- Divider -->
        <hr class="mt-4 mb-0">

        <!-- Bottom footer -->
        <div class="row justify-content-md-between align-items-center py-4">

            <!-- Copy rights -->
            <div class="col-md-6">
                <div class="text-center text-md-start text-primary-hover text-white ">©2022 <a href=""
                        class="text-reset btn-link" target="_blank">Path2overseas</a>. All rights reserved
                </div>
            </div>

            <!-- Copy links -->
            <div class="col-md-6">
                <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                    <li class="nav-item"><a class="nav-link text-white text-primary-hover p-0" >Terms</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white text-primary-hover p-0 ms-3" >Privacy</a>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white text-primary-hover p-0 ms-3" >Cookies</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>
<!-- =======================
Footer END  -->